
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&display=swap');


body{
    background-color:#090;
    color:#0af;
    margin: 0px;

    font-family: 'Edu TAS Beginner', sans-serif;
}

body #main-header h1{
    font-weight: 400;
    margin:4px 50px;
    /* display: inline-block; */
}

#main-header p{
    /* display: inline-block; */
    float: right;
}
h1{
    color:yellow;
}

#main-header{
    border: 3px dashed #0af;

}

.content h1{
    color: #0af;
    font-size: 50px;
    font-weight: 600;
    margin: 4px 5px;
    padding: 20px 20px;

}
